<web-app
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
id="WebApp_ID" version="3.0">

  <display-name>Archetype Created Web Application</display-name>
 	<context-param>
		<param-name>MONGODB_HOST</param-name>
		<param-value>localhost</param-value>
	</context-param>
	<context-param>
		<param-name>MONGODB_PORT</param-name>
		<param-value>27017</param-value>
	</context-param>
	<servlet>
		<servlet-name>AddStudent</servlet-name>		
		<servlet-class>com.pict.sg.AddStudent</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StudentLogin</servlet-name>
		<servlet-class>com.pict.sg.StudentLogin</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UploadGrievance</servlet-name>
		<servlet-class>com.pict.sg.UploadGrievance</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Logout</display-name>
		<servlet-name>Logout</servlet-name>
		<servlet-class>com.pict.sg.Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddStudent</servlet-name>
		<url-pattern>/AddStudent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StudentLogin</servlet-name>
		<url-pattern>/StudentLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadGrievance</servlet-name>
		<url-pattern>/UploadGrievance</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
</web-app>
